.Board {
    display: none;
    flex-direction: column;
    background-color: hsla(220, 13%, 18%, 0.70);
    width: 90vw;
    height: 70vh;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .Board {
        width: 48vw;
        height: 85vh;
    }
}

.visible{
    display: flex;
}

.BoardHeader {
    display: flex;
    width: 100%;
    background-color: hsla(220, 13%, 18%, 0.70);
    color: white;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 0;
}

.BoardCancel{
    font-size: xx-large;
    margin: 0 20px 0 0;
    cursor: pointer;
}

.BoardCancel:hover{
    color: #135afe;
}

.BoardTitle {
    margin: 0 0 0 20px;
}

.BoardInner{
    display: flex;
    flex-direction: column;
}

.BoardText{
    color: white;
    padding: 20px;
}